.l-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.l-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: var(--clr-primary);
  z-index: 3;
}

.l-wrapper {
  display: flex;
  flex-direction: column;
}

.l-space-lg {
  margin-top: var(--space-lg);
}

.l-align-center {
  text-align: center;
}
